*,
*::before,
*::after {
    --azul-escuro: #154580;
    --azul-medio: #3970BE;
    --azul-claro: #E5F1FF;
    --cinza-texto: #444444;
    --cinza-claro: #ECECEC;
    box-sizing: border-box;
}

body{
    background-color: white;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    color: black;
    box-sizing: border-box;
    text-align: center;
}

.cabecalho__countainer{
    display: flex;
    background: #CCCCCC;
    height: 80px;
    width: 100%;
    padding: 0 25px;
}

.logo__item{
    background-image: url(logo.png);
    background-repeat: no-repeat;
    padding: 40px 65px;
    cursor: pointer;
    margin-block-end: -45px
}



.pesquisar__input {
    width: 260px;
    height: 32px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 16px;
    padding: 3px 8px;
    border: 1px solid rgb(211, 211, 211);
}

.pesquisar__label {
    background-image: url(search.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(211, 211, 211);
    background-color: #F9F9F9;
    border-left: none;
    padding: 8px 18px 5px;
    cursor: pointer;
}

.cabecalho__audio {
    background-image: url(mic.png);
    padding: 20px;
    display: none;
}

.cabecalho__videos {
    background-image: url(video_call.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.cabecalho__apps {
    background-image: url(apps.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho__notificacoes {
    background-image: url(notifications.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho__avatar {
    background-image: url(Avatar.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}